<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>$(BUNDLE_DISPLAY_NAME)</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>ADMOB_BANNER_UNIT_ID</key>
	<string>$(ADMOB_BANNER_UNIT_ID)</string>
	<key>RevenueCatIosSdkKey</key>
	<string>$(REVENUECAT_IOS_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.176387111716-ti3ljhb26v4apmdnihq9u85b13m0vnn6</string>
			</array>
		</dict>
	</array>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Match needs your location to show matches near you on the map</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Match needs your location to show matches near you on the map</string>
</dict>
</plist>
